.logotipo-formulario {
    background-image: url('../../assets/image.png');
    height: 150px;
    width: 150px;
    padding-left: 10px;
    background-size: cover;
    background-repeat: no-repeat;
}

.logotipo {
    background-image: url('../../assets/image.png');
    height: 500px;
    width: 600px;
    background-size: cover;
    background-repeat: no-repeat;
    display: none;
}

.fondo_login-register {
    display: flex;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom, #918EF4, #918EF4, #54538E);
    align-items: center;
    overflow-y:scroll ;
}

.fondo_formulario {
    background-color: honeydew;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    border-radius: 10px;
    padding: 10px;
    box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.4);
}

.formulario {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
    width: 80%;
    row-gap: 5px;
}

@media(min-width:450px) {
    .logotipo {
        display: block;
        height: 500px;
        width: 600px;
    }

    .fondo_login-register {
        padding-left: 150px;
    }

    .fondo_formulario {
        width: 300px;
        height: max-content;
        margin: 20px;
        padding: 20px 30px;
    }
    .logotipo-formulario{
        display: none;
    }
}