.containerHome {
    display: grid;
    grid-template-columns: 30% 70%;
    gap: 20px;
    overflow: hidden; /* Asegura que el contenido no se salga del grid */
    width: 100%;
    margin-left: 5px;
    margin-right: 5px;
}

.contentlayout {
    padding: 20px; 
    box-sizing: border-box; /* Asegura que el padding no haga que el contenido se salga */
    overflow: hidden; /* Asegura que el contenido no se salga del contenedor */
}

.left-column {
    grid-column: 1 / 2;
    overflow: hidden; /* Asegura que el contenido no se salga del contenedor */
}

.right-column {
    grid-column: 2 / 3;
    overflow: hidden; /* Asegura que el contenido no se salga del contenedor */
}

@media (max-width: 450px) {
    .containerHome {
        grid-template-columns: 1fr; 
        gap: 10px; 
    }

    .contentlayout {
        padding: 10px; 
        overflow: hidden; /* Asegura que el contenido no se salga del contenedor */
    }
}